@tailwind base;
@tailwind components;
@tailwind utilities;


/* Defaults */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* font-family: 'montserrat', sans-serif; */
}

/* Design System */
:root {
  --p: 54, 97%, 55%;
}

html,
#__next,
body,
main {
  height: 100%;
  width: 100%;
  font-family: 'Styrene A Web', sans-serif;
  overflow-x: hidden;
  /* font-size: clamp(1rem, 0.35rem + .2vw, 2rem); */
  /* background: #fff; */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}


@layer components {
  #__next {
    @apply bg-lightEarlyDawn flex justify-center;
  }

  #__next > div {
    @apply h-full w-full;
  }

  .recharts-wrapper {
    @apply  !h-full;
  }

  #Area-chart {
    @apply  !h-full !w-full;
  }

  .main-bg-gradient {
    background: rgb(255, 251, 235);
    background: linear-gradient(90deg, rgba(255, 251, 235, 1) 47%, rgba(252, 229, 28, 1) 47%);
  }

  /* for chrome only */
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .paddingX_4 {
      @apply px-4;
    }
  }
}

.recharts-wrapper {
  height: unset !important;
  width: unset !important;
}


/* Background Gradient */
.conic-bg-gradient-floor-pink {
  background: conic-gradient(from -50.37deg at 87.64% 114.44%,
      #ff7061 0deg,
      #ff9929 35.62deg,
      #f4cc58 65.28deg,
      #ebff00 150deg,
      #ffd376 289.1deg,
      #ff9900 316.82deg,
      #ff7061 360deg);
}

.conic-bg-gradient-counter {
  background: rgb(253, 223, 0);
  background: radial-gradient(circle,
      rgba(253, 223, 0, 1) 0%,
      rgba(255, 255, 255, 1) 39%);
}



/* Scale */
.scale-85 {
  --tw-scale-x: .85;
  --tw-scale-y: .85;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* Borders */
.border-whitePaper {
  /* Whitepaper */
  border: 1px solid #ffcc00;
}

.border-scroll-down {
  /* Scroll down */
  border: 0.36px solid #000000cc;
}

.border-learn-more {
  /* Learn more */
  border: 1px solid #ffcc00;
}

/* Typography */
.text-label {
  /* Label */
  font-family: 'Styrene A Web';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.text-secondary {
  /* Secondary */
  font-family: 'Styrene A Web';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.text-eye {
  /* Eye */
  font-family: 'Styrene A Web';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.text-header {
  /* Header */
  font-family: 'Styrene A Web';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
  color: #000000;
}

/* max-button */
.max-button {
  height: 15px;
  font-size: 10px;
  color: #6c757d;
  padding: 0rem 0.6rem;
  border-radius: 0.25rem;
  border: 1px solid #6c757d;
  margin-left: 5px;
}

.max-button:hover {
  background: #6c757d;
  color: white;
  cursor: pointer;
}

/* Font Family */
@font-face {
  font-family: 'Styrene A Web';
  src: url('/assets/fonts/SyreneAWeb/StyreneAWeb-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url('/assets/fonts/SyreneAWeb/StyreneAWeb-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url('/assets/fonts/SyreneAWeb/StyreneAWeb-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url('/assets/fonts/SyreneAWeb/StyreneAWeb-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url('/assets/fonts/SyreneAWeb/StyreneAWeb-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url('/assets/fonts/SyreneAWeb/StyreneAWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url('/assets/fonts/SyreneAWeb/StyreneAWeb-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url('/assets/fonts/SyreneAWeb/StyreneAWeb-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url('/assets/fonts/SyreneAWeb/StyreneAWeb-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url('/assets/fonts/SyreneAWeb/StyreneAWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Styrene-A-Web-Light';
  src: url('/assets/fonts/SyreneAWeb/StyreneAWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url('/assets/fonts/SyreneAWeb/StyreneAWeb-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}